h1,
h2,
h3,
body {
  font-family: "Lato", sans-serif;
}
.card {
  padding: 40px 40px 0;
  margin-top: 40px;
}
h1 {
  font-size: 80px;
  position: relative;
  top: 30px;
  text-align: center;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 22px;
}
h4 {
  text-align: center;
}
body {
  font-size: 28px;
}
.row {
  margin-bottom: 40px;
}
.input-group {
  margin: 0 0 40px;
}
.current-weather {
  display: block;
  margin: 0px auto;
  width: 100px;
}
.weather {
  display: block;
  margin: 24px auto;
  width: 50px;
}
